.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}
.filter__button:not(:last-child) {
  margin-right: 10px;
}
._btnText:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}
._btnText:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}
.filterList {
  position: static;
  width: 180px;
  height: 237px;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.li{
  position: static;
  width: 152px;
  height: 24px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.li:hover{
  color: rgb(182, 114, 255);
  font-family: StratosSkyeng;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  cursor: pointer;
}


